body { 
    margin: 0;
    padding: 0;    
    font-family:"Inter" sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;

}

h4{
    font-size: 30px
    
}

header {
    position: sticky;
    height: 100%;
    background-color: lightgray;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px 2px #aaa;
    padding: 20px 102px;
    z-index: 100;

}

nav { 
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    

}

nav a{
    text-decoration: none;
    font-family:sans-serif;
    color: black;
}

nav a:hover{
color: green;

}

article{
    display: block;
    padding: 0 120px;
    font-size: 20px;
    position: relative;
    display: fixed;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 150px 120px; 
}

section{
    display: block;
    padding: 0 120px;
    font-size: 20px;
}

article-element{
width: 50%;

}

footer{
    text-align: center;
    background-color: lightgray;
    height: 100px;
}